@font-face {
  font-family: "iconfont"; /* Project id 4868985 */
  src: url('iconfont.woff2?t=1780453899881') format('woff2'),
       url('iconfont.woff?t=1780453899881') format('woff'),
       url('iconfont.ttf?t=1780453899881') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shwy:before {
  content: "\e67c";
}

.icon-pzbz:before {
  content: "\e67d";
}

.icon-gfzy:before {
  content: "\e67e";
}

.icon-message_1:before {
  content: "\e679";
}

.icon-home_01:before {
  content: "\e67a";
}

.icon-home_11:before {
  content: "\e67b";
}

.icon-message_0:before {
  content: "\e678";
}

.icon-addressUser1:before {
  content: "\e675";
}

.icon-bankUser1:before {
  content: "\e677";
}

.icon-wxpay:before {
  content: "\e674";
}

.icon-bankpay:before {
  content: "\e673";
}

.icon-buy:before {
  content: "\e66f";
}

.icon-certificationUser:before {
  content: "\e66d";
}

.icon-share1:before {
  content: "\e66c";
}

.icon-xingzhuangjiehe:before {
  content: "\e66b";
}

.icon-customer:before {
  content: "\e6ff";
}

.icon-goto:before {
  content: "\e66a";
}

.icon-inventory:before {
  content: "\e669";
}

.icon-urlUser:before {
  content: "\e65e";
}

.icon-commission:before {
  content: "\e65c";
}

.icon-subsidy:before {
  content: "\e65d";
}

.icon-category:before {
  content: "\e65a";
}

.icon-fall:before {
  content: "\e658";
}

.icon-rise:before {
  content: "\e659";
}

.icon-calendar:before {
  content: "\e653";
}

.icon-prompt:before {
  content: "\e64e";
}

.icon-agreement:before {
  content: "\e64d";
}

.icon-searchFor:before {
  content: "\e64c";
}

.icon-scan1:before {
  content: "\e64a";
}

.icon-tiktok:before {
  content: "\e64b";
}

.icon-grade:before {
  content: "\e649";
}

.icon-address:before {
  content: "\e648";
}

.icon-horn:before {
  content: "\e647";
}

.icon-calendares:before {
  content: "\e646";
}

.icon-salesVolume:before {
  content: "\e645";
}

.icon-expert:before {
  content: "\e644";
}

.icon-select:before {
  content: "\e643";
}

.icon-selectedCar_1:before {
  content: "\e642";
}

.icon-question:before {
  content: "\e641";
}

.icon-authentication:before {
  content: "\e640";
}

.icon-expertUser:before {
  content: "\e636";
}

.icon-time:before {
  content: "\e63f";
}

.icon-scanUser:before {
  content: "\e63e";
}

.icon-setUser:before {
  content: "\e639";
}

.icon-categoryUser:before {
  content: "\e63a";
}

.icon-addressUser:before {
  content: "\e63b";
}

.icon-sampleUser:before {
  content: "\e63c";
}

.icon-bankUser:before {
  content: "\e63d";
}

.icon-collectUser:before {
  content: "\e635";
}

.icon-operateUser:before {
  content: "\e637";
}

.icon-selectedUser:before {
  content: "\e638";
}

.icon-person:before {
  content: "\e633";
}

.icon-company:before {
  content: "\e634";
}

.icon-scan:before {
  content: "\e631";
}

.icon-photograph:before {
  content: "\e632";
}

.icon-abnormal:before {
  content: "\e630";
}

.icon-editSlide:before {
  content: "\e62e";
}

.icon-deletedSlide:before {
  content: "\e62f";
}

.icon-location:before {
  content: "\e62d";
}

.icon-copy:before {
  content: "\e62c";
}

.icon-order:before {
  content: "\e62b";
}

.icon-qrCode:before {
  content: "\e62a";
}

.icon-notice:before {
  content: "\e629";
}

.icon-clock:before {
  content: "\e628";
}

.icon-love:before {
  content: "\e626";
}

.icon-trashCan:before {
  content: "\e627";
}

.icon-share:before {
  content: "\e619";
}

.icon-deleteAsh:before {
  content: "\e61a";
}

.icon-editAsh:before {
  content: "\e61b";
}

.icon-man:before {
  content: "\e61c";
}

.icon-asd:before {
  content: "\e61d";
}

.icon-cost:before {
  content: "\e61e";
}

.icon-collect_0:before {
  content: "\e61f";
}

.icon-edit:before {
  content: "\e620";
}

.icon-refresh:before {
  content: "\e621";
}

.icon-customerService:before {
  content: "\e622";
}

.icon-delete:before {
  content: "\e623";
}

.icon-close:before {
  content: "\e624";
}

.icon-add:before {
  content: "\e625";
}

.icon-shareWhite:before {
  content: "\e614";
}

.icon-into:before {
  content: "\e615";
}

.icon-identify:before {
  content: "\e616";
}

.icon-pictureWhite:before {
  content: "\e617";
}

.icon-tips:before {
  content: "\e618";
}

.icon-topUp:before {
  content: "\e610";
}

.icon-selectedCar_0:before {
  content: "\e611";
}

.icon-empty:before {
  content: "\e612";
}

.icon-woman:before {
  content: "\e613";
}

.icon-rank_0:before {
  content: "\e60f";
}

.icon-user_1:before {
  content: "\e606";
}

.icon-rank_1:before {
  content: "\e605";
}

.icon-home_1:before {
  content: "\e604";
}

.icon-wisdom_1:before {
  content: "\e609";
}

.icon-user_0:before {
  content: "\e60a";
}

.icon-wisdom_0:before {
  content: "\e608";
}

.icon-home_0:before {
  content: "\e607";
}

.icon-rotate:before {
  content: "\e60b";
}

.icon-filter:before {
  content: "\e60c";
}

.icon-sort:before {
  content: "\e60d";
}

.icon-magnifier:before {
  content: "\e60e";
}

